@page
@model Web2023Razor.Pages.HealthPrograms.CreateModel

@{
    ViewData["Title"] = "Добавить оздоровительную программу";
}

<h1>Добавить оздоровительную программу</h1>

<h4>Оздоровительная программа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HealthProgram.HealthProgName" class="control-label">Название оздоровительной программы</label>
                <input asp-for="HealthProgram.HealthProgName" class="form-control" />
                <span asp-validation-for="HealthProgram.HealthProgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
